{% extends '::base.admin.html.twig' %}

{% block meta_title %}Muziek{% endblock %}
    {% block content %}
        {{ parent() }}
        <form method="post">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width: 20px;">#</th>
                    <th style="width: 20px;"></th>
                    <th width="20%">Auteur</th>
                    <th width="45%">Titel</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="sortable">
                {% for item in musicItems %}
                    <tr class="ui-state-default">
                        <th scope="row">
                            {{ item.id }}
                            <input type="hidden" name="files[]" value="{{ item.file }}" />
                        </th>
                        <th class="move"><i class="fa fa-arrows"></i></th>
                        <td scope="row">{{ item.author }}</td>
                        <td scope="row">
                            {{ item.title }}
                        </td>
                        <td scope="row" style="padding: 0;font-size: 25px;">
                            <a style="margin-right:10px;" href="https://www.youtube.com/results?search_query={{ item.search }}" target="_blank"><i class="fa fa-youtube"></i></a>
                            <a href="javascript:void(0)" class="playerButton" file_name="{{ item.file }}"><i class="fa fa-play-circle"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <input type="submit" class="btn" value="Opslaan"/>
            <br>
            <br>
            <br>
            <br>
            <br>
        </form>
    {% endblock %}

{% block javascripts_ready %}
    {{ parent() }}
    <script>
        $(function() {
            $( "#sortable" ).sortable({
                handle: '.move',
                placeholder: "ui-state-highlight"
            });
            $( "#sortable" ).disableSelection();


            $('.playerButton').click(function(event) {
                var file_name = $(this).attr('file_name');
                var player = '<audio controls style="width: 100%;"><source src="/media/'+ file_name + '" type="audio/mpeg"></audio>';
                $(this).parent().html(player);
            });
        });
    </script>
{% endblock %}