{% extends '::base.admin.html.twig' %}
{% block meta_title %}{{ item.firstName }} {{ item.lastName }} &#10140; Bevestiging {% endblock %}
    {% block content %}
        {{ parent() }}
        <div>
            <h1>{{ item.ticket.title }}</h1>
            <h1>{{ item.firstName }}</h1>
            <p>{{ omnikassa_html|raw }}</p><br>

        </div>
    {% endblock %}
