{% form_theme form '::backend_form_fields.html.twig' %}

{% extends '::base.admin.html.twig' %}
{% block meta_title %}Reserveren{% endblock %}
    {% block content %}

        {#{{ dump(item.getFirstName()) }}#}
        {% if item.getFirstName() is not empty %}
            <div class="row">
                <a href="{{ path('subscriber_frondend_reset',{'id':ticket.id}) }}" class="btn btn-info"><i class="fa fa-refresh"></i> Opnieuw</a>
            </div>
        {% endif %}
        <h1>{{ ticket.title }}</h1>

        <div style="margin-top: 10px;">
            {{ form_start(form) }}

            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Prijs per persoon
                </label>
                <div class="col-sm-9 ">
                    <div class="checkbox">&euro; {{ ticket.price|number_format(2,',') }}</div>
                </div>
            </div>
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    {% endblock %}
